/* CSS file for Android 320x480 */
Button
{
	fontSize: 11;
}

Label
{
	fontSize: 14;
}

TextArea
{
	fontSize: 12;
}

TextInput
{
	fontSize: 12;
}

.lstStyle
{
	selectionColor:  dark-gray;
	fontWeight: bold;
}

.comments
{
	color: white;
	fontSize:12;
	fontWeight: bold;
	fontStyle: italic;
}
