/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace charts "mx.charts.*";
@namespace mobile "spark.skins.mobile.*";

/* platform specific styles */
@media(os-platform:"IOS")
{
	s|ActionBar
	{
		defaultButtonAppearance:beveled;
	}
	
	.backButton
	{
		skinClass:ClassReference("spark.skins.mobile.BeveledBackButtonSkin");
	}
}

charts|AreaChart
{
	color: #999999;	
	fill: #1A1A1A;
	paddingLeft:30;
	paddingTop:30;
	paddingRight:30;
	paddingBottom:30;
}

charts|BarChart
{
	color: #999999;	
	fill: #1A1A1A;
	paddingLeft:30;
	paddingTop:30;
	paddingRight:30;
	paddingBottom:30;
}

charts|ColumnChart
{
	color: #999999;	
	fill: #1A1A1A;
	paddingLeft:30;
	paddingTop:30;
	paddingRight:30;
	paddingBottom:30;
}        

charts|AxisRenderer
{
	show-line: false;
	tick-length: 0;
	minor-tick-length: 0;
	tick-placement: none;
	minor-tick-placement: none;
	font-size: 16;
}

global
{
	chartCornerRadius: 10;
	chartPaddingTop: 10;
	chartPaddingBottom: 10;
	chartPaddingRight: 10;
	chartPaddingLeft: 10;
	
	chromeColor: #1A1A1A;
	contentBackgroundColor: #1A1A1A;
}


s|Application
{
	backgroundColor: #1a1a1a;
	
}
s|NavigatorContent{
	backgroundColor:#4e4e4e;
	
}
s|View{
	backgroundColor:#1a1a1a;	
}
s|ActionBar
{
	chrome-color: #303030;
}

s|List
{
	contentBackground-color: #262626;
	selectionColor: #1A1A1A;
	color: #FFFFFF;
	textAlign: left;
}

s|VGroup.chartViewHolder{
	top:15; 
	left:30; 
	right:30; 
	bottom:30;
}

@media(os-platform:"AND")
{
	s|Label.labelStyle
	{
		color: #CCCCCC;
		padding-left: 5;
		font-size: 20;
		font-weight: bold;
		font-family: DroidSans;
	}
}

s|Label.labelStyle
{
	color: #CCCCCC;
	padding-left: 5;
	font-size: 16;	
}

@media(os-platform:"AND")
{
s|Label.chartLabelStyle
{
	color: #FFFFFF;
	font-size: 16;
	font-weight: normal;
	font-family: DroidSans;
	}
}

s|Label.chartLabelStyle
{
	color: #FFFFFF;
	font-size: 16;
	font-weight: normal;
}

s|Label.detailsStyle
{
	textAlign: left;
	color: #FFFFFF;
}

s|Label.titleWhiteStyle
{
	color: #FFFFFF;
	fontWeight: bold;
	fontSize: 28;
	paddingTop: 8;
	paddingLeft: 10;
	font-family: DroidSans;
}
s|Label.titleBlackStyle
{
	color: #000000;
	fontWeight: bold;
	fontSize: 32;
	paddingTop: 8;
	paddingLeft: 10;
	font-family: DroidSans;
}

s|Label.notificationStyle
{
	color: #FFFFFF;
	fontSize: 21;
	padding-left: 20;
}

s|Button.searchButtonStyle
{
	chrome-color: #669977;
}

s|Button.editActionButtonStyle
{
	chrome-color: #BBDDCC;
}  

s|Button.confirmDeleteButtonStyle
{
	chrome-color: #C90001;
	color: #FFFFFF;
}  

s|ToggleButton{
	color:#BFBFBF; 
	fontFamily:DroidSans;
	fontSize:14;	
}

.detailGroupStyle
{
	padding-left: 30;
	padding-right: 30;
}

.viewTitleStyle{
	color:#ffffff;
	fontWeight:bold;
	fontFamily: DroidSans;
	fontSize:22;
	
}

/** item renderer styles **/
.titleTextStyle
{
	fontSize: 16;
	color: #FFFFFF;
	alpha: 0.5;
}
.statusTextStyle
{
	fontSize: 16;
	color: #FFFFFF;
	alpha: 0.5;
}
.totalTextStyle
{
	fontSize: 16;
	color: #FFFFFF;
	text-align: right;
	alpha: 0.5;
}
.dateTextStyle
{
	fontSize: 20;
	color: #FFFFFF;
	alpha: 1;
}
















